<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <div class="card">
        <div class="login">
          <form id="form_login">
            <label for="login">Usuário:</label>
            <input type="text" id="login" name="user" placeholder="Digite seu usuário">  
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
            <a href="biblioteca.html"><input type="button" id="entrar" value="Entrar"></a>
          </form>
          <p><a href="cadastro.html">Não Possuo Cadastro</a></p>
        </div>
    </div>
    <p>&copy; Este humano está chorando fazendo isso!</p>
</body>
</html>