<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='Login/login.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <div class="card">
        <div class="login">
          <form action="url de onde os dados serão enviados" method="get/post e afins">
            <label for="login">Usuário:</label>
            <input type="text" id="login" name="login" placeholder="Digite seu usuário">  
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
            <input type="submit" id="entrar" value="Entrar">
          </form>
          <p>Não Possuo Cadastro</p>
        </div>
    </div>
</body>
</html>