<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Opcoes/css/opcoes.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Opções</title>
</head>
<body>
    <div class="card">
        <div class="opcoes">
          <form action="opcoes" method="GET">
            {% for row in usuario %}
            <p class="usuario">Olá, {{ row[0] }}!</p>
            {% endfor %}
            <p>O que você deseja fazer?</p>
            <button type="submit" id="adicionar" <a href="{{ url_for('create') }}" value="Adicionar Livro"></a>
            <button type="submit" id="visualizar" <a href="{{ url_for('read') }}" value="Visualizar Livro"></a> 
<!--             <button type="submit" id="atualizar" value="Atualizar Livro">
            <button type="submit" id="deletar" value="Deletar Livro"> -->
          </form>
        </div>
      </div>
</body>
</html>
         