<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Read/css/read.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Read</title>
</head>
<body>
    <div class="card">
        <div class="visualizar">
          <p>Nome:</p>
          <div><p>bbbbbbbbb</p></div>
          <p>Autor:</p>
          <div><p></p></div>
          <p>Gênero:</p>
          <div><p></p></div>
          <p>Total de Páginas:</p>
          <div><p></p></div>
          <p>Páginas Lidas:</p>
          <div><p></p></div>
          <p>Anotações:</p>
          <div class="anotacoes"><p></p></div>
        </div>
      </div>
</body>
</html>

{% for row in usuariosBD %}
           <tr>
             <td>{{ row[0] }}</td>
             <td>{{ row[1] }}</td>
             <td>{{ row[2] }}</td>
             <td>{{ row[3] }}</td>
           </tr>
         {% endfor %}