<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Update/css/update.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Update</title>
</head>
<body>
    <div class="card">
        <div class="atualizar">
          <p>Nome:</p>
            <div><p>bbbbbbbbb</p></div>
          <p>Autor:</p>
            <div><p></p></div>
          <p>Gênero:</p>
            <div><p></p></div>
          <p>Total de Páginas:</p>
            <div><p></p></div>
          <p>Páginas Lidas:</p>
            <div><p></p></div>
          <p>Anotações:</p>
            <div class="anotacoes"><p></p></div>
          <section>
            <input type="submit" id="atualizar" value="Atualizar">
          </section>
        </div>
    </div>
</body>
</html>